html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;

    /*.cesium-viewer-toolbar {*/
    /*    display: none !important;*/
    /*}*/
    .glass {
        background: rgba(255, 255, 255, 0.15)!important;
        border: 1px solid rgba(255, 255, 255, 0.7)!important;
        /*border-radius: 1.5rem;!important;*/
        backdrop-filter: blur(10px) saturate(180%)!important;
        -webkit-backdrop-filter: blur(10px) saturate(180%)!important;
        box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
        inset 0 4px 20px rgba(255, 255, 255, 0.3)!important;
    }
    .ant-card-bordered {
        background: rgba(255, 255, 255, 0.15);
        border: 1px solid rgba(255, 255, 255, 0.7);
        border-radius: 1.5rem;
        backdrop-filter: blur(10px) saturate(180%);
        -webkit-backdrop-filter: blur(10px) saturate(180%);
        box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
        inset 0 4px 20px rgba(255, 255, 255, 0.3);
    }

    /*.ant-card-bordered::before { !* блик сверху *!*/
    /*    content: "";*/
    /*    position: absolute; inset: -20% -20% auto -20%;*/
    /*    height: 60%;*/
    /*    background: linear-gradient(180deg, rgba(255,255,255,.35), rgba(255,255,255,0));*/
    /*    pointer-events: none;*/
    /*}*/

    /*.ant-card-bordered::after { !* слабый шум для «зерна» стекла *!*/
    /*    content: '';*/
    /*    position: absolute;*/
    /*    inset: 0;*/
    /*    background: rgba(255, 255, 255, 0.1);*/
    /*    border-radius: inherit;*/
    /*    backdrop-filter: blur(2px);*/
    /*    box-shadow: inset -10px -8px 0 rgba(255, 255, 255, 1),*/
    /*    inset 0 -9px 0 rgba(255, 255, 255, 1);*/
    /*    opacity: 0.6;*/
    /*    z-index: -1;*/
    /*    filter: blur(1px) brightness(115%);*/
    /*}*/

    .cesium-viewer-toolbar {
        top: 20px;
        right: 20px;
        border-radius: 8px;
        z-index: 9999;
    }

    .cesium-viewer-toolbar .cesium-button {
        display: none !important;
    }

    .cesium-sceneModePicker-wrapper {
        display: none !important;
    }

    .scrollable-content::-webkit-scrollbar {
        width: 8px;
    }

    .scrollable-content::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 4px;
    }

    .scrollable-content::-webkit-scrollbar-thumb {
        background-color: #bbb;
        border-radius: 4px;
        border: 2px solid transparent;
        background-clip: content-box;
    }

    .scrollable-content::-webkit-scrollbar-thumb:hover {
        background-color: #999;
    }

    ::-webkit-scrollbar-track {
        background: transparent; /* Прозрачный фон */
    }
}